html{
    scroll-behavior: smooth;
}

body{
    font-family: 'montserrat';
    scroll-behavior: smooth;
}


#title{
    background-color: #ff4c68;
    color: white;
    
}



.container-fluid{
    padding: 3% 15% 7%;
}


.md {
    font-family: 'montserrat', sans-serif;
    /* color: white; */
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    /* color: white; */

}

.navbar{
    padding:0 0 4.5rem;
}

/* #dog{
    margin-top: 10px;
    transform: rotate(45deg);
} */


/* navbar */
.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    font-weight: 500;
    
}

.nav-item{
    padding:0 18px ;
}

.nav-link {
   font-size: 1.2rem;
   font-family: 'Montserrat';
   font-weight: 300;
}

/* download button  */

.download-btn {
    margin: 5% 3% 5% 0;

}

/* title image  */

.title-img {
    position: absolute;
    /* z-index: -1; */
    width: 60%;
    transform: rotate(25deg);
    right: 121px;
}


/* Features Section  */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

h3 {
    
    font-family: 'montserrat';
    font-size: 1.5rem;
    font-weight: 700;
}

.same {
    color: #8f8f8f;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

/* .fa-check-circle {
    display: flex;
    color: #ef8172;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
}

.fa-bullseye {
    color: #ef8172;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.fa-heart {
    color: #ef8172;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
} */
.dot{
    color: #ef8172;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.dot:hover {
    color: #ff4c68;
} 

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.feature-box {
    text-align: center;
}


/* .feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */



/* Testimonilas section  */


#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;

}

.h2{
    font-family: 'montserrat';
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}


.testi-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-colum{
    padding: 3% 2%;
}


h3{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}

/* .center1{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center;
} */

/* Cta and footer section  */

#cta {
    background-color: #ff4c68;
    color: white;
    
}


.cta {

    padding:3% 6%;
    text-align: center;
}

#footer {
    padding: 3% 6%;
    text-align: center;

}

.ft {
    margin: 20px 10px;
    color: black;
}

.ft:hover{
    cursor: pointer;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}


